@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach (var item in (IEnumerable<WeatherForecast>)ViewData["WeatherForecastData"])
    {
        <p>the forecast for @item.Date is @item.Summary!</p>
    }
    @foreach (var item in (IEnumerable<Order>)ViewData["orders"])
    {
        <p>Orders: @item.orderId , @item.productId @item.amount</p>
    }

</div>
